<div class="container">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <div class="card-title text-center text-white py-3">
    <div>
      <form [formGroup] = "form" (ngSubmit)="onSubmit()">
        <div>

          <h4>
            Video title:
          </h4>
          <label>
            <input type="text" formControlName="title" placeholder="Title" />
          </label>
          <h4>
          Upload a video: (mp4 only)
            </h4>
          <input type="file" accept="video/mp4" name="profile" (change)="upload($event)" />
        </div>
        <div><h1> </h1> </div>
        <div>
          <button type="submit" class="btn btn-info">Upload</button>
        </div>
        <div class="upload status">
          <div id="uploadResponse"></div>
        </div>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>


